header{

    background-image: url(http:source.unsplash.com/500x500/?computer);
background-color: green;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;

}

nav{

    text-align: center;
    padding: 20px;
}

h1 {

    margin-top: 100px;

    padding: 10px;
}


button {

    background-color: white;
    color:#4f649c;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;


}

.text center {

    text-align: center;
}

section p {

    margin: 50px;
}

h3 {

    text-align: center;
}

.flex{

    display: flex;
}

.primary-bg{

background-color: #4f649c;

}

.dark-bg{

    background-color: #18223f;
}


.light-bg{background-color: white;}

h4{text-align: center;}

.textwhite {

color: white;

}


@media (max-width:768 ) { .flex{display: flex;
flex-direction: column;}

}